.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 50px;
  display: flex;
  justify-content: center;

  border-bottom: 1px solid black;

  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 32px;
}

.breed-radio {
  display: none;
}
.art {
  display: flex;
  flex-direction: column;

  margin-top: 3%;
  margin-right: 5%;
  margin-bottom: 3%;
  margin-left: 5%;

  border: 1px solid gray;
}

.art:hover {
  box-shadow: 0 0 1px;
}

.mail-link {
  color: #4c4cd8;
}

.leftFooter {
  float: right;

  margin-top: 10px;
  margin-left: 30px;

  line-height: 30px;
}

.rightFooter {
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 30px;
}

@media (min-width: 375px) and (max-width: 1000px) {
  .catalog-arts {
    display: grid;
    grid-template-columns: 100%;

    margin-top: 10%;
  }

  /* повторяю одинаковые стили для разных классов, потому что они не хотят объединятся */
  .art-full-description {
    display: none;
  }

  .filter {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-top: 2px solid rgba(46, 49, 49, 0.2);

    font-family: "'Arial'", sans-serif;
    font-size: 14px;
  }
}

@media (min-width: 1000px){
  .catalog-arts {
    display: grid;
    grid-template-columns: repeat(3, 33%);

    margin-top: 10%;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: 2px solid rgba(46, 49, 49, 0.2);

    font-family: "'Arial'", sans-serif;
    font-size: 14px;
  }
}